body {
  font-family: $helvetica;
}

header, #subheading {
  text-align: center;
}

header {
  margin-bottom: 1em;
}

#subheading {
  background-color: lighten(red, 30%);
  margin-bottom: 1em;
  h2 {
    color: white;
    font-size: 3.5em;
    font-weight: 100;
    line-height: 1.2em;
    margin: 0 auto 0;
    max-width: 980px;
    padding: 50px 0;
    text-align: center;
    text-shadow: 0px 2px 2px lighten(red, 20%);
  }
  h3 {
    display: inline-block;
    color: white;
    font-weight: 100;
    font-size: 2em;
    padding: 0.5em;
  }
  a {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 200;
  }
}

section {
  @include outer-container;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}

article.main {
  @include outer-container;
}
