@import 'gh-fork-ribbon';

body {
  font-family: $helvetica;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
header, #subheading {
  text-align: center;
}

header {
  background: #f8f8f8;
  padding: 60px 0;
  img {
    max-width: 350px
  }
}

#subheading {
  background: image-url('install_fest_people.jpg') no-repeat center fixed;
  background-size: cover;
  background-position-y: -200px;
  padding: 60px 0;
  h2 {
    color: white;
    font-weight: 200;
    font-size: 46px;
    font-size: 2.875rem;
    line-height: 1.2em;
    margin: 0 auto 0;
    max-width: 980px;
    padding: 50px 0;
    text-align: center;
    text-shadow: 0 1px 2px lighten(black, 10%);
    strong {
      font-weight: 600;
    }
  }
  h3 {
    display: inline-block;
    color: white;
    font-weight: 200;
    font-size: 2em;
    padding: 0.5em;
  }
  a {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 200;
  }
}
li {
  line-height: 1.4em;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  margin-bottom: 1em;
}

section {
  @include outer-container;
  padding: 0 20px;
  aside {
    @include span-columns(3);
    text-align: right;
    font-weight: bold;
  }
  article {
    @include span-columns(9);
    padding-left: 1.5em;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    font-size: 1.875rem;
    margin: 0 0 40px 0;
  }
}

.testimonials-page {
  section.testimonials {
    margin-bottom: 40px;
  }
}
section.info {
  margin-bottom: 1.5em;
  &:last-child {
    margin-bottom: 0;
  }
  aside {
    font-size: 1.25rem;
    font-size: 20px;
    font-weight: 500;
    color: #777
  }
}

section.events {
  aside {
    @include span-columns(6);
  }
}
.event {
  position: relative;
  perspective: 1000;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  z-index: 1;
  margin-bottom: 5px;
}
.event:hover > .card {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
}
.event > .card {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: left;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  .back, .front {
    position: absolute;
    display: table;
    width: 100%;
    height: 104px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  }
  .front {
    border: 1px solid #e9e9e9;
    background: #fff;
    .date {
      float: right;
      background: #f9f9f9;
      width: 100px;
      height: 100px;
      margin: 0 0 0 20px;
      border-left: 1px solid #eee;
      color: #aaa;
    }
    .pipe {
      color: #ccc;
    }
    .date > .day {
      font-size: 28px;
      text-align: center;
      display: block;
      margin: 25px 0 0 0;
    }
    .date > .month {
      display: block;
      font-size: 14px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 200;
      margin: 0;
    }
    .title {
      font-size: 18px;
      line-height: 1.1;
      margin: 25px 20px 10px;
      color: #333
    }
    .availability, .location {
      color: #888;
      font-size: 16px;
      display: inline-block;
      margin: 0 15px 0 20px;
      padding-top: 3px;
      font-weight: 300;
    }
    .availability {
      margin-left: 15px;
      color: #c92f27;
    }
  }
  .back {
    cursor: pointer;
    display: block;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    background: #e24038;
    height: auto;
    i.more {
      display: inline-block;
      float: right;
      width: 100px;
      line-height: 100px;
      background: #c92f27;
      font-size: 20px;
      color: #fff;
      text-align: center;
      margin: 0 0 0 20px;
    }
    a.view-on-meetup {
      float: right;
    }
    .logo-meetup {
      float: left;
      width: 100px;
      height: 100px;
    }
    p {
      margin: 0;
      padding: 0 20px;
      color: #fff;
      line-height: 104px;
      height: 100px;
      strong {
        color: #fff;
      }
    }
  }
}

section.testimonials {
  text-align: center;
  aside {
    @include span-columns(4);
  }
  aside > blockquote {
    text-align: left;
    position: relative;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    color: #777;
    margin: 20px 0;
    border: 0;
    cite {
      color: #333;
      font-style: normal;
      font-weight: 500;
      display: block;
      font-size: 16px;
      font-size: 1rem;
      margin-top: 24px;
    }
    i {
      color: #e24038;
      font-size: 40px;
      margin: 0;
      padding: 10px 10px 10px 0;
    }
  }
}

article.main {
  @include outer-container;
  padding: 60px 0
}

div.content {
  background: #f5f5f5;
  padding: 60px 0;
  &.white {
    background: #fff;
  }
}

footer {
  background: #c92f27;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
#reinteractive {
  h2 {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
  }
  a {
    color: #FFF;
  }
  a:hover {
    color: #ffa9a5;
  }
  img {
    vertical-align: middle;
  }
  a.logo {
    display: block;
    width: 260px;
    margin: 20px auto;
    text-decoration: none;
    .graphic {
      width: 16%;
      margin: 0 2% 0 0;
    }
    .text {
      width: 80%;
      margin: 0;
    }
  }
}
#footer-links {
  padding: 20px 0;
  margin-top: 20px;
  a {
    display: inline-block;
    margin-right: 3em;
    color: #E27570;
    text-decoration: none;
  }
  a:last-child {
    margin-right: 0;
  }
  a:hover {
    color: #ffa9a5;
  }
}

#disqus_thread {
  margin-top: 60px;
}
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  section.info aside {
    text-align: center;
    margin-bottom: 20px;
    @include span-columns(12);
  }
  section.info article {
    @include span-columns(12);
  }
  #subheading {
    padding: 20px 0;
    h2 {
      font-size: 28px;
      font-size: 1.750rem;
      line-height: 1.5;
      padding: 20px 0;
    }
  }
  div.content {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  section.events {
    aside {
      @include span-columns(12);
    }
  }
  section.testimonials {
    aside {
      @include span-columns(12);
    }
    aside > blockquote {
      margin: 0 0 30px 0;
      cite {
        margin: 10px 0 0;
      }
    }
  }
  #reinteractive h2 {
    text-align: left;
  }
  #footer-links a {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
}