.button {
  display: inline-block;
  padding: 1.3em 2em;
  margin-bottom: 2em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #c92f27;
  color: #ffa9a5;
  text-decoration: none;
}
.button:hover {
  background: #e24038;
  color: #fff;
}
.secondary {
  @include button(simple, lighten(gray, 10%));
}
