@import 'normalize';
@import 'bourbon';
@import 'grid_settings';
@import 'neat';
@import 'buttons';
@import 'github';
@import 'basic_app';

a {
  color: #c92f27;
}
a:hover {
  color: #e24038;
}
aside {
  @include span-columns(3);
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
  }
  h1, h2, h3, h4, p {
    margin-top: 0;
  }
}
article.guide {
  @include span-columns(7);
  height: 100%;
  h1:first-child {
    margin-top: 0;
  }
}

pre, code {
  border-radius: 3px;
  background-color: #f8f8f8;
  border: 1px solid #ddd
}
pre {
  padding: 6px 10px;
}
code {
  display: inline-block;
  padding: 3px;
}

@media (max-width:768px) {
  aside,
  article.guide {
    @include span-columns(10);
  }
  aside {
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
  }
}
@media (max-width:1200px) {
  body {
    padding: 0 20px;
  }
  header, footer {
    margin: 0 -20px;
  }
  article.guide h2 {
    text-align: left;
  }
}

$red: #FF4136;

.alert {
  background-color: $red;
  font-size: 18px;
  color: #fefefe;
  line-height: 1.7em;
  padding: 10px 10px;
  text-align: center;
}
