@import 'normalize';

@import 'bourbon';
@import 'grid_settings';
@import 'neat';

@import 'buttons';

@import 'github';

@import 'basic_app';

aside {
  @include span-columns(2);
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h1, h2, h3, h4, p {
    margin-top: 0;
  }
}
article.guide {
  @include span-columns(8);
  height: 100%;
}

pre, code {
  border-radius: 3px;
  background-color: #f8f8f8;
  border: 1px solid #ddd
}
pre {
  padding: 6px 10px;
}
code {
  display: inline-block;
  padding: 3px;
}
