<aside>
  <a href="http://www.meetup.com/Ruby-On-Rails-Oceania-Sydney/events/220149722/" target="blank">
    <div class="event">
      <div class="card">
        <div class="front">
         <div class="date">
            <span class="day">
              24
            </span>
            <span class="month">
              February
            </span>
          </div>
          <div class="title">
            Installfest Sydney
          </div>
          <div class="location">
            Sydney Fairfax Media
          </div>
          <span class="pipe">/</span>
          <div class="availability">
            <strong>
              Book your spot now!
            </strong>
          </div>
        </div>
        <div class="back">
          <i class="icon-chevron-right more"></i>
          <p>RSVP on Meetup.com</p>
        </div>
      </div>
    </div>
  </a>
</aside>
<aside>
  <a href="http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/events/219051382/" target="blank">
    <div class="event">
      <div class="card">
        <div class="front">
         <div class="date">
            <span class="day">
              19
            </span>
            <span class="month">
              February
            </span>
          </div>
          <div class="title">
            Installfest Melbourne
          </div>
          <div class="location">
           Envato, Melbourne
          </div>
          <!-- <span class="pipe">/</span> -->
          <div class="availability">
            <strong>
              Book your spot now! <!-- full -->
            </strong>
          </div>
        </div>
        <div class="back">
          <i class="icon-chevron-right more"></i>
          <p>RSVP on Meetup.com</p>
        </div>
      </div>
    </div>
  </a>
</aside>
