<aside> 
  <div class="event">
    <div class="card">
      <div class="front">
       <div class="date">
          <span class="day">
            20
          </span>
          <span class="month">
            Oct
          </span>
        </div>
        <div class="title">
          Installfest Sydney 
        </div>
        <div class="location">
          Sydney 
        </div>
        <span class="pipe">/</span>
        <div class="availability">
          <strong>
            full
          </strong>
        </div>
      </div>
      <div class="back">
        <i class="icon-chevron-right more"></i>
        <p>RSVP on Meetup</p>
      </div>
    </div>
  </div>
</aside>
<aside>
  <div class="event">
    <div class="card">
      <div class="front">
       <div class="date">
          <span class="day">
            20
          </span>
          <span class="month">
            Oct
          </span>
        </div>
        <div class="title">
          Installfest Sydney 
        </div>
        <div class="location">
          Sydney 
        </div>
        <span class="pipe">/</span>
        <div class="availability">
          <strong>
            full
          </strong>
        </div>
      </div>
      <div class="back">
        <i class="icon-chevron-right more"></i>
        <p>RSVP on Meetup</p>
      </div>
    </div>
  </div>
</aside>