<footer>
  <section>
    <div id="reinteractive">
      <a href='http://reinteractive.net' class="logo">
        <%= image_tag 'reinteractive-logo.jpg', :class => 'graphic' %>
        <%= image_tag 'reinteractive-logo_white.png', :class => 'text' %>
      </a>
      <h2>InstallFest is proudly created and organised by reInteractive</h2>
    </div>
    <div id="footer-links">
      <a href="#">Host an InstallFest</a>
      <a href="https://github.com/reinteractive-open/installfest_guides">Contribute to the Guide</a>
      <a href="emailto:chloe@reinteractive.net">Contact reInteractive's community team</a>
    </div>
  </section>
</footer>
