<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a target="_blank" href="<%= current_page.data.github_url || "https://github.com/reinteractive-open/installfest_guides" %>"><%= current_page.data.github_url ? "Fix me on Github" : "Contribute on GitHub" %></a>
  </div>
</div>
<header>
  <a href="/"><%= image_tag 'installfest_logo.png', :class => 'logo', :width => '500px' %></a>
  <div>
  <h3>Join a growing community of over 1800 attendees and take your first step towards becoming a Rails Developer</h3>
  </div>
</header>
