<div id="subheading">
  <h2><strong>Free</strong> help to get started developing</br><strong>Ruby on Rails</strong> applications.</h2>
  <%= link_to 'Start Tutorial', '/guides/installfest/getting_started', :class => 'button' %>
  <!-- <h3> -->
  <!-- or -->
  <!-- </h3> -->
  <!-- <%= link_to 'Host InstallFest', '#', :class => 'button secondary' %> -->
</div>

<div class="content white">
  <section class="info" id="what">
    <aside>What is it?</aside>
    <article>
      <p>
        The Ruby on Rails Installfest is a fast paced, hands on journey through getting your first
        Ruby on Rails application up and running live on the Internet. Includes full setup of your
        development environment and step by step instructions on how to build your first app.
      </p>
    </article>
  </section>
  <section class="info" id="when_where">
    <aside>When &amp; Where?</aside>
    <article>
      <p>InstallFest is held in Sydney and Melbourne once a month.</p>

      <p>
        In Sydney Fairfax media have agreed to host the next event. Here's a map!
        </br>
        In Melbourne it's hosted by Envato on King Street.
      </p>
    </article>
  </section>
  <section class="info" id="event-format">
    <aside>How does it work?</aside>
    <article>
      <p>We get your laptop up and running on Rails. This can take a bit of work. You are welcome to bring your Windows, Mac or Linux PC, our team can help get you running on any of these.</p>

      <p>Once you are up and running, we'll direct you to the first tutorials you should start on.</p>

      <p>It will be a wild and fast ride through getting your first Ruby on Rails application working. This will be quick and aimed at an introductory level so that you can get a high level view of how the bits and pieces fit together.</p>
    </article>
  </section>
</div>
<div class="content">
  <section class="events">
    <h2>Upcoming Events</h2>
    <%= partial 'events' %>
  </section>
</div>
<div class="content white">
  <section class="testimonials">
    <h2>What people are saying</h2>
    <aside>
      <blockquote>
        <i class="icon-quotes-left"></i>
        Great experience! I am impressed by the level of detail covered in such a short amount of time, especially testing.”
        <cite>Jurgens Smit</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        <i class="icon-quotes-left"></i>
        The InstallFest was a great way to get up and rolling with Ruby on Rails. Never having coded in it before, I was happily surprised to have my own blog coded and online on the first day. The instructors and and written guides, made the whole process effortless.
        <cite>Bravo child</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        <i class="icon-quotes-left"></i>
        A steady pace, friendly people and knowledgable instructors that don’t make you feel like an idiot when you ask a question.
        <cite>Des Penny</cite>
      </blockquote>
    </aside>
  </section>
  <a href="/testimonials" class="button more-testimonials">See more testimonials</a>
</div>
