<div id="subheading">
  <h2><strong>Free</strong> help to get started developing</br><strong>Ruby on Rails</strong> applications.</h2>
  <%= link_to 'Start Tutorial', '/guides/getting_started', :class => 'button' %>
  <!-- <h3> -->
  <!-- or -->
  <!-- </h3> -->
  <!-- <%= link_to 'Host InstallFest', '#', :class => 'button secondary' %> -->
</div>

<div class="content white">
  <section class="info" id="what">
    <aside>What is it?</aside>
    <article>
      <p>
        The Ruby on Rails Installfest is a fast paced, hands on journey to getting your first
        Ruby on Rails application up and running live on the Internet. It includes full setup of your
        development environment and step by step instructions on how to build your first app.
      </p>
    </article>
  </section>
  <section class="info" id="when_where">
    <aside>Where?</aside>
    <article>
      <p>InstallFest is held regularly in Sydney, Melbourne, and Brisbane. We have also hosted an event in Singapore.</p>
      <p>Check <a href="#upcoming">upcoming events</a> for details.</p>
    </article>
  </section>
  <section class="info" id="event-format">
    <aside>How does it work?</aside>
    <article>
      <p>We get your laptop up and running on Rails. This can take a bit of work. You are welcome to bring your Windows, Mac or Linux machines. Our experienced team can help get you running on any of these platforms.</p>

      <p>Once you are up and running, we'll direct you to the first tutorials you should start on.</p>

      <p>It will be a wild ride getting your first Ruby on Rails application working. This is aimed at a beginners level so that you can get a high-level overview of how the bits and pieces fit together. There are further tutorials for you to work through in your own time as you advance.</p>
    </article>
  </section>
</div>
<div class="content">
  <section class="events">
    <h2 id="upcoming">Upcoming Events</h2>
    <%= partial 'events' %>
  </section>
</div>
<div class="content white">
  <section class="testimonials">
    <h2>What people are saying</h2>
    <aside>
      <blockquote>
        <i class="icon-quotes-left"></i>
        Great experience! I am impressed by the level of detail covered in such a short amount of time, especially testing.”
        <cite>Jurgens Smit</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        <i class="icon-quotes-left"></i>
        The InstallFest was a great way to get up and rolling with Ruby on Rails. Never having coded in it before, I was happily surprised to have my own blog coded and online on the first day. The instructors and written guides, made the whole process effortless.
        <cite>Bravo child</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        <i class="icon-quotes-left"></i>
        A steady pace, friendly people and knowledgable instructors that don’t make you feel like an idiot when you ask a question.
        <cite>Des Penny</cite>
      </blockquote>
    </aside>
  </section>
  <a href="/testimonials" class="button more-testimonials">See more testimonials</a>
</div>
