<div class="content white testimonials-page">
  <section class="testimonials">
    <h2>What people are saying</h2>
    <aside>
      <blockquote>
        I love the concept of InstallFest as way of getting through the first hurdle, so thanks for building and supporting the community!
        <cite>Olga Dziemidowicz</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Lots of people helping, friendly and positive environment. Great place to learn.
        <cite>Pieter Coetzee</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Team members were awesome, everyone was very passionate about what was being taught. Very detailed and very knowledgeable. 5 stars! Top notch and a very rewarding experience.
        <cite>James LaBoeuf</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Thanks for hosting/helping me get started with Ruby - was a really great meet up! Really impressed - a great way to get people involved.
        <cite>Reece Arney</cite>
      </blockquote>
   </aside>
    <aside>
      <blockquote>
        It was great - thank you very much. Great support from the team. Thank you for the drinks and pizza.
        <cite>Vonita Buirski</cite>
      </blockquote>
    </aside>
   <aside>
      <blockquote>
        It’s a great way to grow the RoR Community! Thanks reinteractive for a helpful introduction.
        <cite>Chris Kendall</cite>
      </blockquote>
    </aside>
  </section>
<section class="testimonials">
    <aside>
      <blockquote>
        Great, love it. Really enjoyed the vibe.
        <cite>André Selton</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        This was awesome in terms of giving instruction and tutorial to people who are new to Ruby on Rails.
        <cite>Bang The Nguyen</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very useful for myself (and others) who want to learn MVC/web dev but aren’t sure where to start.
        <cite>Lincoln Reiss</cite>
      </blockquote>
    </aside>
  </section>
 <section class="testimonials">
    <aside>
      <blockquote>
       Thanks guys, it was great to attend and I am inspired to do more.
        <cite>Andrew Leslie</cite>
      </blockquote>
    </aside> 
    <aside>
      <blockquote>
       Everything was perfect, excellent job! It is in a good location, great ambience, excellent volunteers and good food. Thank you!
        <cite>Jacob Paul</cite>
      </blockquote>
    </aside>  
    <aside>
      <blockquote>
       Was cool, tutorials were straightforward and I was able to easily understand them.
        <cite>Gareth Ng</cite>
      </blockquote>
    </aside>
  </section>  
  <section class="testimonials">
      <aside>
        <blockquote>
         Everyone was very friendly and helpful. I would definitely come again. 10/10 best InstallFest! Thank you for teaching me cool coding junk!
          <cite>Emily Hooper</cite>
        </blockquote>
      </aside>
      <aside>
        <blockquote>
         The event was very informative and I really appreciate your efforts. Everything was awesome.
          <cite>Bhushan Manekar</cite>
        </blockquote>
      </aside> 
      <aside>
        <blockquote>
         It was awesome. I thought it was much more difficult to install Rails and start working on a web application. But with the good mentors and a perfect guide it is really easy. Thank you very much.
          <cite>Vasili Tsoi</cite>
        </blockquote>
      </aside>
    </section>  
<section class="testimonials">
    <aside>
      <blockquote>
        The mentors had great knowledge and did an awesome job explaining everything.
        <cite>Dirgh Buch</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Thanks reInteractive and all the mentors. Great introduction to Ruby, I'm now inspired to learn more.
        <cite>James Litten</cite>
        </blockquote>
    </aside>
    <aside>
      <blockquote>
       Good, easy to get going, mentors were great! It is nice to get together with other people and be involved in the learning process.
        <cite>Tahlia Norwood</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        It was great to see so many people there ready to help. Thank you!!
        <cite>Brian Hickey</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Really well organised. Lots of awesome volunteers. Can’t wait to complete the tutorial and become a Ruby on Rails Dev :)
        <cite>Tiang</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Great friendly and helpful atmosphere. Perfect for this getting up and running with Rails.
        <cite>Kevin Yang</cite>
      </blockquote>
    </aside>
  </section>    
  <section class="testimonials">
    <aside>
      <blockquote>
        Great evening - really clear instructions and I felt I achieved something by the end of the night. I will definitely recommend to others.
        <cite>Rachael Carson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Great mix of people. good vibe and atmosphere. Really nice Community spirit.
        <cite>Peter Borbely</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Excellent, very glad I came.
        <cite>Jade Feng</cite>
      </blockquote>
    </aside>
  </section>  
    <section class="testimonials">
    <aside>
      <blockquote>
        Great! Fantastic helpers too, not too intimidating for a non-coder like me.
        <cite>Adrienne Patrick</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Great, awesome people to learn from.
        <cite>Vishnu Kus</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very supportive and friendly atmosphere.
        <cite>Stephen Gannon</cite>
      </blockquote>
    </aside>
   </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Excellent overview of Ruby on Rails. Great people and well coordinated. Well done!
        <cite>Mukul Gupta</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Great, friendly atmosphere, great food and drinks, great mentors. Keep up the good work!
        <cite>Andy Wong</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Informative and very helpful. I like being able to work at my own pace.
        <cite>Matt Edwards</cite>
      </blockquote>
    </aside>
   </section>
 <section class="testimonials">
    <aside>
      <blockquote>
        Great experience - do it more often!!
        <cite>Joseph Pham</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Everything was excellent. Great starting point for RoR.
        <cite>Jay Fisher</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very friendly and helpful mentors. I thoroughly enjoyed the night learning new skills.
        <cite>Natalie Wong</cite>
      </blockquote>
    </aside>
   </section>
 <section class="testimonials">
    <aside>
      <blockquote>
        Very fun and useful.
        <cite>Peng Song</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        I learned a new skill! Very helpful mentors.
        <cite>Frank Chou</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Excellent, very impressed.
        <cite>Joey Corea</cite>
      </blockquote>
    </aside>
   </section>
 <section class="testimonials">
    <aside>
      <blockquote>
        Very fun and useful.
        <cite>Peng Song</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        I learned a new skill! Very helpful mentors.
        <cite>Frank Chou</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Excellent, very impressed.
        <cite>Joey Corea</cite>
      </blockquote>
    </aside>
   </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        It was really useful and informative and I would like to continue learning. Awesome environment, everyone was friendly and welcoming.
        <cite>Katie Peterson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        The mentors are really friendly, committed and helpful. Thank you.
        <cite>Serena Vaccari</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Great night. Lots of help and met some really nice people.
        <cite>Vito Belgiorno-Zegna</cite>
      </blockquote>
    </aside>
   </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        I was worried it would be too techy, but it worked out fine. Everyone was super friendly and helpful.
        <cite>Daniel Aron</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Pretty stoked to actually get something up!
        <cite>David Bushby</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        It was great. I started developing a blog in Ruby on Rails and deployed it without any previous experience. The volunteers were so helpful.
        <cite>Sudabeh Norouzi Nia</cite>
      </blockquote>
    </aside>
   </section>
   <section class="testimonials">
    <aside>
      <blockquote>
       Everything was perfect, it was very applicable to me. Thank you.
        <cite>Farhad Kardan</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Absolutely brilliant. Live help desk right next to you. Thanks guys!
        <cite>Nicholas Lambropoulos</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Excellent introduction for absolute new beginner.
        <cite>Tessa Setiadi</cite>
      </blockquote>
    </aside>
   </section>
   <section class="testimonials">
    <aside>
      <blockquote>
        I can’t believe you give this much to the community. Thank you!
        <cite>Durand Sinclair</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very well organised! Clear instructions and very helpful Ruby experts.
        <cite>Michelle Lippey</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Awesome. Met new people, learnt new things. Loved it.
        <cite>Hamid Samani</cite>
      </blockquote>
    </aside>
   </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        I really appreciate the effort you put into this event. I will definitely go on learning this fantastic language. Thanks!
        <cite>Enhui Bao</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       So fantastic, could not be better. Good service, delicious pizza, simple presentation, easy to understand and good tutorial for those learning.
        <cite>Zhenlan Fei</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Very well organised, friendly people. Had no problems asking ‘stupid’ questions. Well worth every minute. Thanks for taking the time.
        <cite>Yuki Kubota</cite>
      </blockquote>
    </aside>
   </section>
   <section class="testimonials">
    <aside>
      <blockquote>
        Awesome. Keep up the good work.
        <cite>Hashi Kaar</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Was very impressed with the knowledge available at hand and the willingness of everyone to help when faced with an issue. Definitely learned a lot on how to set up and start developing in Ruby/Rails.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Thank you very much for a really informative session. I finally have a starting point to start learning and toying around with RoR. It was quite a bit to digest in a night and definitely looking at more sessions in the future. I want to be a happy developer too :)
        <cite>Yoga Ganason</cite>
      </blockquote>
    </aside>
   </section>
    <section class="testimonials">
    <aside>
      <blockquote>
        Very helpful and impressive, I will certainly recommend.
        <cite>Michael Richardson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       It was simply awesome!
        <cite>Sujan Dhakal</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       An enjoyable night which got me going on RoR.
        <cite>Alan Tsen</cite>
      </blockquote>
    </aside>
   </section>
    <section class="testimonials">
    <aside>
      <blockquote>
        A really friendly, useful event.
        <cite>David Elton</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Glad I came! Tutorial and mentors were helpful, the space was nice and the food was plenty.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great, had a good time and I now have Rails! Thanks for everything!!
        <cite>Matt Cameron</cite>
      </blockquote>
    </aside>
   </section>

 <section class="testimonials">
    <aside>
      <blockquote>
        Very helpful and welcoming environment
        <cite>Simon Moro</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
     Great way to get up and running.
        <cite>Brad Wynter</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Awesome experience!! All you guys are doing an incredible job. I learned a lot of basics today! Hats off to the spirit and patience of all mentors!! I asked a lot of questions today and none hesitated to explain what I didn’t understand.
        <cite>Sowmya </cite>
      </blockquote>
    </aside>
   </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        I had a great time, plenty of friendly people to help out. I definitely recommend it.
        <cite>Mathew Button</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Very good! I’m very impressed with Ruby and Rails and am looking forward to build some apps.
        <cite>Paul Murphy</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great engaged mentors!
        <cite>Roger Qiu</cite>
      </blockquote>
    </aside>
   </section>
   <section class="testimonials">
    <aside>
      <blockquote>
        It was interesting and useful, I learned many things and understand new practices in Rails project development. Thanks!
        <cite>Paul Pivarov</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      There were a lot of people around to help, now things are much more clear!
        <cite>Spencer Walden</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great environment and very helpful tutors floating around. Great experience.
        <cite>Nicholas Tan</cite>
      </blockquote>
    </aside>
   </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Great intro to Rails Development. To have a blog live on the web in under 3 hours was fantastic!
        <cite>Callum Macpherson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        It was great! Rad people and it was good to learn some new stuff! The list of ‘next step’ resources should be very awesome!
        <cite>Pat McKenna</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Fantastic, really helpful, loved learning Ruby!
        <cite>Kim Felstead</cite>
      </blockquote>
    </aside>
  </section>
<section class="testimonials">
    <aside>
      <blockquote>
        Thank you for a great evening. A special thanks to the mentors for their help. I look forward to the next event.
        <cite>Deepak Kapoor</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       10/10. Really helpful and informative.
        <cite>Annie Slattery </cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Excellent! From the greeting at online signup, to the way the evening progressed, to the help!
        <cite>Durand Sinclair</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        It was a great experience to get up and running with RoR and see how easy and fun it is to develop in.
        <cite>Phillip Cheung</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       It was an awesome night, I am really impressed with the InstallFest structure, well done guys.
        <cite>Alvin Estrada</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Good launchpad for people with no coding experience.
        <cite>Adam Hyman</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Great energy and good people. A good environment for learning RoR and plenty of support.
        <cite>Colin H</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       10/10
        <cite>Mike Dickinson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        A great event, perfect level of detail and good excitement.
        <cite>Michael Dausmann</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Well organised and great that you are giving back to the community and spreading your Ruby on Rails knowledge.
        <cite>Kevin Miller</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great learning experience, from setup, to pushing my code online and debugging.
        <cite>Vishnu Kanduri</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        This is my first ever development seminar, it is wonderful that there are so many people here to help and share.
        <cite>Dai Phung</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        I thought it was great. Easy to install and get started, great mentors to help and a great atmosphere.
        <cite>Kerrison Garcia</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        I am really excited to have some fun with Ruby and Rails! I will keep coming to this meetup!
        <cite>Alex Park</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Loved the vibe and the help.
        <cite>Adrian Fittolani</cite>
      </blockquote>
    </aside>
  </section>
<section class="testimonials">
    <aside>
      <blockquote>
        It’s been great, good feeling! It is a great introduction to Ruby on Rails and really explains all of the potential.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Excellent!
        <cite>Serg Belokamen</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Really friendly atmosphere. The mentors were really helpful and were keen to help out and get involved. Really impressed by the event.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Very friendly and accessible.
        <cite>Aniko Hazi</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very informative, great help and mentors. Love the pizza. Will be reading a lot more about Ruby/Rails.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Really good and really informative.
        <cite>Chris Lucas</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        It was really great, I want to go home now and devour a Ruby book!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Fun atmosphere, good mentors helping out and a great way to expose people to RoR and get an app up and running quickly.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      I think the mentors were great! Very friendly, and definitely very helpful.
        <cite>Nitikia Mathur</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Awesome!
        <cite>James Law</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Really enjoyed it! It was well run and then information and food was great.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It is a fantastic experience to develop in just a few seconds.
        <cite>Vamsi Raju</cite>
      </blockquote>
    </aside>
  </section>
   <section class="testimonials">
    <aside>
      <blockquote>
        Very well executed, expert staff on hand to overcome all of our issues and answer questions.
        <cite>Chris LePetit</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        It was great - I loved that you guys could mentor us, walk us through the steps and help us troubleshoot. I made enough to get excited and want to pick it up.
        <cite>Solal Fittoussi</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        An excellent overview for those who haven't tried doing any rails development before.
        <cite>Xerxes Battiwalla</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Great intro and enough depth for advanced devs.
        <cite>Kyle Martin</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Good- self paced, but with a good level of support!
        <cite>Josh Street</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very informative, good mentoring, info, tips...
        <cite>Edward Cheung</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        I thought it was a great introduction to RoR, very practical and it was rewarding to get my hands dirty, build it and see the blog application live on the world wide web.
        <cite>Lance Cohen</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Overall, really good way to kickstart learning of Ruby on Rails. The second day’s talk on MVC and why Ruby on Rails, was great!
        <cite>Naveen Danda</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Really great meet-up. A lot of passion has gone into it and I would certainly recommend it to others.
        <cite>Jonathan Witts</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Really good to get an end-to-end view and a test app going. Still lots to learn, but a great start. Thanks to all who made it possible.
        <cite>Paul Hunter</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Love it so far. A steady pace, friendly people and knowledgable instructors that don’t make you feel like an idiot when you ask a question.
        <cite>Des Penny</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Excellent idea, really handy to get help getting set up with installation and deployment to Heroku.
        <cite>Mary Nolan</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Wonderful initiative for the RoR Community to get the word out...have been looking for this help for ages.
        <cite>Julian Blok</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very well done, good atmosphere, right pace.
        <cite>Reg Paling</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Professional, powerful and great assistance Tim and Len
        <cite>Peter James</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Great, easy experience. Great to have experts on hand when you get stuck, meet others, good food and vibe. Thanks!
        <cite>Kevin Truong</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very pleased. Everyone was friendly and approachable and the free food is a really nice gesture.
        <cite>Jesse Black</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Fantastic idea and great to be a new member of the RoR Community
        <cite>Richard Taggart</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
        I just got home and finished the first two lessons, thank you very much, was awesome, really interesting. I hope to keep learning and join the Development Hub.
        <cite>Agustín Gambina</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very worthwhile I would definitely recommend to anyone interested in the language
        <cite>Paul Anderson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Awesome, learned a lot in a little time
        <cite>Joshua Paling</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
        Really helpful, I just sent the invitation for next month's Installfest to my friends. I hope they can make it.
        <cite>Rudy Lee</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        InstallFest was excellent. I learned lot of things about Ruby. Really really helpful. Thanks guys!!!
        <cite>Kiri Kamal</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Thanks to everyone who helped out. Got my blog online and now I'm going to burn through the next 5 posts!
        <cite>Tom Bass</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
        Got ruby on rails setup and running on my pc, and published online on Heroku. Great intro to rails.
        <cite>Hans Halim</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        If needed, I can witness that Mikel won't let you leave until your installation is complete:) ! And yes, after that you can learn to be a RoR master.
        <cite>Guillaume Ang</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        A really good idea and really helpful for anyone looking to learn Ruby and generally improve their knowledge.
        <cite>Russell Verbeek</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Great, well run. Love the pizza! Being a Network Nngineer, I know little about programming. Ruby is great and I learned plenty in 3 hours.
        <cite>Matthew Hoffman</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Tonight was fun and I want to learn more.
        <cite>Talyssa Soto</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       I thought it was great, fun, friendly and informative. I will definitely recommend it.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Everyone was very friendly and helpful. Thanks very much for a great night of learning and pizza!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
     <aside>
      <blockquote>
       It was a very good start. Looking forward to more!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Very awesome, great insights, I’m a fan!
        <cite>Samira Cheurif</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Very helpful to get started with RoR.
        <cite>Nathalie Bressa</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Love it. Great idea, great environment, great people.
        <cite>Kylie Fuentes</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Very good and very helpful.
        <cite>Madhu Ramalingam</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Excellent!!!!
        <cite>Mark Collins</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       It was well organised and run. Thanks to everyone involved!
        <cite>Daniel Koo</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great. Mentors were a great help also.
        <cite>Stephen Glachan</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Brilliant idea - well resourced. I came for 30 minutes last month and this month seemed even better.
        <cite>Andrew O’Sullivan</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Really good. Kudos to the volunteers.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great, very easy to follow.
        <cite>Selina Tomkins</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Great event tailored at beginners.
        <cite>Simone Lavorato</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great meetup, well organised, thank you :)
        <cite>Priscilla Fox</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       9.99999/10
        <cite>Jason Whatson</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Really great - well run event, great community utility
        <cite>Michael Ruhfus</cite>
      </blockquote>
    </aside>
     <aside>
      <blockquote>
       Excellent get together!
        <cite>Ross Mackenzie</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Everything was perfect...Very informative and newbie friendly.
        <cite>Erwin Tilzon</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
     <aside>
      <blockquote>
       Great idea! So necessary and useful. Thank you all.
        <cite>Jens Korff</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Excellent and very helpful. Lost my fear of Ruby on Rails tonight!
        <cite>Arvindh Selvaraj</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Very well organised and the helpers were awesome!
        <cite>Joel Kim</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Friendly, open, supportive environment. Love the Ruby Community!
        <cite>Chris Callow</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       It was great! Awesome impression of Ruby on Rails and I’ll definitely learn more of it.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       I am impressed to already see the blog up and running. The people providing support were extremely patient and helpful!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
     <aside>
      <blockquote>
       It’s amazing. Beautiful that so many passionate people are here on a weekend showing their knowledge.
        <cite>Weiting Ten</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Welcoming environment and great space, excellent project.
        <cite>Samantha Dawn Brestin</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Excellent - very well presented. Lots of help and advice available.
        <cite>Mary Macdonald</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Mentors are super helpful and atmosphere was good. Great to see lots of female participants too.
        <cite>Natalie Ip</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Good experience, helpful coordinators, great ambience and new insight to Ruby. Learnt something new and I’m happy with the outcome.
        <cite>Kris Martis</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Good guidance. The steps were easy to follow. Happy that I installed Rails on windows. Keep it up!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
     <aside>
      <blockquote>
       I want to thank you for this effort. This is really useful and the support is absolutely incredible. I appreciate it a lot.
        <cite>Maritza Concha</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Excellent! Will highly recommend to anyone interested in learning rails.
        <cite>Han-Qing Tan</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Thank you for helping me install and create a simple app very quickly!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       I could not expect anything more from this event. The ready help even without asking was great to keep going and utilise the time at its best. Thanks a lot for organising this event.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       I liked the professional material and organisation and the interactive and cooperative atmosphere.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Really well organised, great group and lots of help!
        <cite>Rhiana Heath</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      It is a great event to interact with other Ruby enthusiasts and learn new technologies.
        <cite>Steve Shoup</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      At last I built an application in ruby! It was easy to get rid of the many errors when there was someone there to help you.
        <cite>Kiarash Zamanifar</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Great! Very helpful mentors willing to spend time on issues that come up.
        <cite>Simon Goudie</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Just great for a newbie like me.
        <cite>Ann Jackson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Great event, friendly and well organised.
        <cite>Ian Fletcher</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It was a great and welcoming environment! Thanks for this wonderful opportunity! We are really glad we were here this evening!
        <cite>Prakriti  Pradhan</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Very useful and a great start for a beginner!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Overall it was a great experience and just the base understanding that I was after in Rails.
        <cite>Simon Taggart</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Really enjoyed it! Definitely learnt a thing or two.
        <cite>Charbel Ayoub</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Great evening, everyone has been very helpful.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It was fantastic! The mentors were very patient and helpful.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It is a great initiative, very helpful for beginners. Thank you!
        <cite>Odair Scatolini Junior</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Very well organised. Love the folders with all of the resources, very helpful!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Very nice and friendly atmosphere.
        <cite>Gabrielle Lagerstedt</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Good info for a new Developer and Rails Noob.
        <cite>Christoffer Lagerstedt</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Love you guys! Friggin Awesome!
        <cite>Brandon Kong</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Seriously, really really good!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Well run, relaxed atmosphere. Thanks for a great night and support!
        <cite>John Foeng</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Awesome that an event like this is free. Good and simple intro to Ruby on Rails.
        <cite>Lasse Pedersen</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Very well organised and presented.
        <cite>Matthew Steen</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Bloody brilliant.
        <cite>James Gilbert</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Very happy, really well structured and thought out.
        <cite>Eden Halil</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Thanks guys! The night was a lot of fun. I can't wait until DevHub!
        <cite>Alvin Tolentino</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It was a very nice opportunity to be in touch with some experienced developers who have patience and are very supportive.
        <cite>Anderson Lopes</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Great! Very enthusiastic mentors.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Great option for getting started with Ruby.
        <cite>Katerina Morjanoff</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      I loved this initiative.
        <cite>Rodrigo Dos Santos</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Excellent! Well organised and a great way to learn Ruby on Rails.
        <cite>Simon Farrell</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      An excellent experience. Tutors very helpful. A good introduction.
        <cite>Terry Hilsberg</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      The mentors were great. Can't go wrong with pizzas either. Thanks for organizing it.
        <cite>Aman Talwar</cite>
      </blockquote>
    </aside>
    </section>
</div>
