<div class="content white testimonials-page">
  <section class="testimonials">
    <h2>What people are saying</h2>
    <aside>
      <blockquote>
        Very well executed, expert staff on hand to overcome all of our issues and answer questions.
        <cite>Chris LePetit</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        It was great - I loved that you guys could mentor us, walk us through the steps and help us troubleshoot. I made enough to get excited and want to pick it up.
        <cite>Solal Fittoussi</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        An excellent overview for those who haven't tried doing any rails development before.
        <cite>Xerxes Battiwalla</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Great intro and enough depth for advanced devs.
        <cite>Kyle Martin</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Good- self paced, but with a good level of support!
        <cite>Josh Street</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very informative, good mentoring, info, tips...
        <cite>Edward Cheung</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        I thought it was a great introduction to RoR, very practical and it was rewarding to get my hands dirty, build it and see the blog application live on the world wide web.
        <cite>Lance Cohen</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Overall, really good way to kickstart learning of Ruby on Rails. The second day’s talk on MVC and why Ruby on Rails, was great!
        <cite>Naveen Danda</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Really great meet-up. A lot of passion has gone into it and I would certainly recommend it to others.
        <cite>Jonathan Witts</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Really good to get an end-to-end view and a test app going. Still lots to learn, but a great start. Thanks to all who made it possible.
        <cite>Paul Hunter</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Love it so far. A steady pace, friendly people and knowledgable instructors that don’t make you feel like an idiot when you ask a question.
        <cite>Des Penny</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Excellent idea, really handy to get help getting set up with installation and deployment to Heroku.
        <cite>Mary Nolan</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Wonderful initiative for the RoR Community to get the word out...have been looking for this help for ages.
        <cite>Julian Blok</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very well done, good atmosphere, right pace.
        <cite>Reg Paling</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Professional, powerful and great assistance Tim and Len
        <cite>Peter James</cite>
      </blockquote>
    </aside>
  </section>
  <section class="testimonials">
    <aside>
      <blockquote>
        Great, easy experience. Great to have experts on hand when you get stuck, meet others, good food and vibe. Thanks!
        <cite>Kevin Truong</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very pleased. Everyone was friendly and approachable and the free food is a really nice gesture.
        <cite>Jesse Black</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Fantastic idea and great to be a new member of the RoR Community
        <cite>Richard Taggart</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
        I just got home and finished the first two lessons, thank you very much, was awesome, really interesting. I hope to keep learning and join the Development Hub.
        <cite>Agustín Gambina</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Very worthwhile I would definitely recommend to anyone interested in the language
        <cite>Paul Anderson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Awesome, learned a lot in a little time
        <cite>Joshua Paling</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
        Really helpful, I just sent the invitation for next month's Installfest to my friends. I hope they can make it.
        <cite>Rudy Lee</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        InstallFest was excellent. I learned lot of things about Ruby. Really really helpful. Thanks guys!!!
        <cite>Kiri Kamal</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        Thanks to everyone who helped out. Got my blog online and now I'm going to burn through the next 5 posts!
        <cite>Tom Bass</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
        Got ruby on rails setup and running on my pc, and published online on Heroku. Great intro to rails.
        <cite>Hans Halim</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        If needed, I can witness that Mikel won't let you leave until your installation is complete:) ! And yes, after that you can learn to be a RoR master.
        <cite>Guillaume Ang</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        A really good idea and really helpful for anyone looking to learn Ruby and generally improve their knowledge.
        <cite>Russell Verbeek</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Great, well run. Love the pizza! Being a Network Nngineer, I know little about programming. Ruby is great and I learned plenty in 3 hours.
        <cite>Matthew Hoffman</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Tonight was fun and I want to learn more.
        <cite>Talyssa Soto</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       I thought it was great, fun, friendly and informative. I will definitely recommend it.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Everyone was very friendly and helpful. Thanks very much for a great night of learning and pizza!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
     <aside>
      <blockquote>
       It was a very good start. Looking forward to more!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Very awesome, great insights, I’m a fan!
        <cite>Samira Cheurif</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Very helpful to get started with RoR.
        <cite>Nathalie Bressa</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Love it. Great idea, great environment, great people.
        <cite>Kylie Fuentes</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Very good and very helpful.
        <cite>Madhu Ramalingam</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Excellent!!!!
        <cite>Mark Collins</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       It was well organised and run. Thanks to everyone involved!
        <cite>Daniel Koo</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great. Mentors were a great help also.
        <cite>Stephen Glachan</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Brilliant idea - well resourced. I came for 30 minutes last month and this month seemed even better.
        <cite>Andrew O’Sullivan</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Really good. Kudos to the volunteers.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great, very easy to follow.
        <cite>Selina Tomkins</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Great event tailored at beginners.
        <cite>Simone Lavorato</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Great meetup, well organised, thank you :)
        <cite>Priscilla Fox</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       9.99999/10
        <cite>Jason Whatson</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Really great - well run event, great community utility
        <cite>Michael Ruhfus</cite>
      </blockquote>
    </aside>
     <aside>
      <blockquote>
       Excellent get together!
        <cite>Ross Mackenzie</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Everything was perfect...Very informative and newbie friendly.
        <cite>Erwin Tilzon</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
     <aside>
      <blockquote>
       Great idea! So necessary and useful. Thank you all.
        <cite>Jens Korff</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Excellent and very helpful. Lost my fear of Ruby on Rails tonight!
        <cite>Arvindh Selvaraj</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Very well organised and the helpers were awesome!
        <cite>Joel Kim</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       Friendly, open, supportive environment. Love the Ruby Community!
        <cite>Chris Callow</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       It was great! Awesome impression of Ruby on Rails and I’ll definitely learn more of it.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       I am impressed to already see the blog up and running. The people providing support were extremely patient and helpful!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
     <aside>
      <blockquote>
       It’s amazing. Beautiful that so many passionate people are here on a weekend showing their knowledge.
        <cite>Weiting Ten</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Welcoming environment and great space, excellent project.
        <cite>Samantha Dawn Brestin</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Excellent - very well presented. Lots of help and advice available.
        <cite>Mary Macdonald</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Mentors are super helpful and atmosphere was good. Great to see lots of female participants too.
        <cite>Natalie Ip</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Good experience, helpful coordinators, great ambience and new insight to Ruby. Learnt something new and I’m happy with the outcome.
        <cite>Kris Martis</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Good guidance. The steps were easy to follow. Happy that I installed Rails on windows. Keep it up!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
     <aside>
      <blockquote>
       I want to thank you for this effort. This is really useful and the support is absolutely incredible. I appreciate it a lot.
        <cite>Maritza Concha</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Excellent! Will highly recommend to anyone interested in learning rails.
        <cite>Han-Qing Tan</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       Thank you for helping me install and create a simple app very quickly!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
       I could not expect anything more from this event. The ready help even without asking was great to keep going and utilise the time at its best. Thanks a lot for organising this event.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
       I liked the professional material and organisation and the interactive and cooperative atmosphere.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Really well organised, great group and lots of help!
        <cite>Rhiana Heath</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      It is a great event to interact with other Ruby enthusiasts and learn new technologies.
        <cite>Steve Shoup</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      At last I built an application in ruby! It was easy to get rid of the many errors when there was someone there to help you.
        <cite>Kiarash Zamanifar</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Great! Very helpful mentors willing to spend time on issues that come up.
        <cite>Simon Goudie</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Just great for a newbie like me.
        <cite>Ann Jackson</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Great event, friendly and well organised.
        <cite>Ian Fletcher</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It was a great and welcoming environment! Thanks for this wonderful opportunity! We are really glad we were here this evening!
        <cite>Prakriti  Pradhan</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Very useful and a great start for a beginner!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Overall it was a great experience and just the base understanding that I was after in Rails.
        <cite>Simon Taggart</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Really enjoyed it! Definitely learnt a thing or two.
        <cite>Charbel Ayoub</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Great evening, everyone has been very helpful.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It was fantastic! The mentors were very patient and helpful.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It is a great initiative, very helpful for beginners. Thank you!
        <cite>Odair Scatolini Junior</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Very well organised. Love the folders with all of the resources, very helpful!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Very nice and friendly atmosphere.
        <cite>Gabrielle Lagerstedt</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Good info for a new Developer and Rails Noob.
        <cite>Christoffer Lagerstedt</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Love you guys! Friggin Awesome!
        <cite>Brandon Kong</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Seriously, really really good!
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Well run, relaxed atmosphere. Thanks for a great night and support!
        <cite>John Foeng</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Awesome that an event like this is free. Good and simple intro to Ruby on Rails.
        <cite>Lasse Pedersen</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Very well organised and presented.
        <cite>Matthew Steen</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Bloody brilliant.
        <cite>James Gilbert</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Very happy, really well structured and thought out.
        <cite>Eden Halil</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Thanks guys! The night was a lot of fun. I can't wait until DevHub!
        <cite>Alvin Tolentino</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      It was a very nice opportunity to be in touch with some experienced developers who have patience and are very supportive.
        <cite>Anderson Lopes</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Great! Very enthusiastic mentors.
        <cite>Anonymous</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      Great option for getting started with Ruby.
        <cite>Katerina Morjanoff</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      I loved this initiative.
        <cite>Rodrigo Dos Santos</cite>
      </blockquote>
    </aside>
    </section>
    <section class="testimonials">
    <aside>
      <blockquote>
      Excellent! Well organised and a great way to learn Ruby on Rails.
        <cite>Simon Farrell</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      An excellent experience. Tutors very helpful. A good introduction.
        <cite>Terry Hilsberg</cite>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
      The mentors were great. Can't go wrong with pizzas either. Thanks for organizing it.
        <cite>Aman Talwar</cite>
      </blockquote>
    </aside>
    </section>
</div>